body{
	background-image:url('images/background_login.png');
}

.content{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

#login{
	width: 300px;
	float:right;
	margin-top: 100px;
	border: 10px block solid;
}